HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### Fichiers de build ###
# Maven - Répertoire des fichiers compilés par Maven
target/


### VS Code ###
# Répertoire des configurations de VSCode (par exemple, paramètres de l'éditeur, extensions)
.vscode/
*.code-workspace


### Environment ###
.env
.env.*


### Fichiers générés automatiquement ###
# Logs
# Fichiers de variables d'environnement locaux
.env
# Dossiers temporaires
tmp/
temp/


### Fichiers système ###
# Windows
# Fichiers de vignettes générés par Windows
Thumbs.db
# Fichier de configuration des répertoires Windows
Desktop.ini
# Fichiers compressés utilisés par Windows
*.cab


### Fichiers de configuration Java
# Fichiers de classes compilées Java
*.class
# Fichiers JAR générés
*.jar
# Fichiers WAR générés
*.war
# Fichiers EAR générés
*.ear


### Fichier de test HTTP
api-test/*.*


### Fichiers d'initialisation DB (MySQL)
mysql-init/*.*


### Fichiers de configuration Maven
.mvn/
.mvn/wrapper
.mvn/wrapper/*.* 
mvnw
mvnw.cmd